.container {
    background-image: url("../assets/media/background.svg");
    font-family: "Lora", "Source Sans Pro", Arial, sans-serif;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100vw;  
    height: 100vh; 
    position: absolute; 
    top: 0;
    left: 0; 
    margin: 0; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    margin-top: 17%;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    align-content: center;
}

.title {
    font-size: 35px;
    color: white;
    text-align: center;
}

.name {
    font-size: 35px;
    color: #f7567c;
}

.ghostbutton {
    font-size: 20px;
    display: inline-block;
    width: 260px;
    padding: 10px;
    color: white;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: border-color 0.3s ease-out,
        color 0.3s ease-out;
}
.ghostbutton:hover, 
.ghostbutton:active {
    color: #66d8ed;
    border-color: #66d8ed;
    text-decoration: none;
    transition: border-color 0.4s ease-in,
        color 0.4s ease-in;
}